:root{
  --colorFuente: #000;
}

body{
  background-color: #e5e6e3;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-color: #c1c2be;
}
div.headerBox{
  width: 940px;
  position: relative;
  margin: 0 auto;
}
nav{
  position: absolute;
  top: 125px;
  right: 0;  
}
ul{
  list-style-type: none;
  font-weight: 300;
  list-style: none;
  font-size: 25px;
}
ul li.activo{
  text-decoration: underline solid #000 3px;
  font-weight: 500;
}
nav ul li{
  margin: 0 0 0 30px;
  display: inline;
}
nav ul li:hover a{
  font-weight: 500;
  color: var(--ColorHover);
  /*text-decoration: underline;*/
  text-shadow: 4px 5px 0 #fff;
}
a{
  color: black;
  text-decoration: none;
}
a:visited{
  color: #000;
}
img#img-inicio{
  width: 99vw;
  height: auto;
}
h2{
  position: relative;
  font-weight: 900;
  text-align: center;
  color: #fff;
  font-size: 125px;
  margin-top: -300px;
  margin-bottom: 200px;
  -webkit-box-reflect: below -36px linear-gradient( transparent , transparent , #0004);
}

div{
  
  background-color: #c1c2be;
  margin-bottom: 10px;
  margin-top: -28px;
  padding: 20px;
}
h3{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
p{
  color: var(--colorFuente);
  line-height: 2;
}

.div-diferencial ul{
  vertical-align: top;
  list-style-type:square;
  font-weight: 400;
  display: inline-block;
  width: 40%;
  margin-right: 30px;
}
.div-diferencial ul li{
  margin: 15px;
  font-size: 16px;
}

#img2{
  width: 50%;
  display:inline-block;
  margin: 20px;
}

footer{
  /*background-color: rgb(46, 39, 39);*/
  background-image: url(./imagenes/bg.jpg);
  text-align: center;
  padding: 20px;
  margin-top: -10px;
}
footer p.copyright{
  font-size: 12px;
  color: #fff;
}